<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Estudiante</title>
</head>

<body>
  <div style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: flex-start; flex-flow: column;">

    <div style="text-align: center;">
      <h1>Detalles del Estudiante</h1>

      <div style="display: flex; align-items: center;">
        <h5>Nombre: </h5> <span>{{student.nombre}}</span>
      </div>
      <div style="display: flex; align-items: center;">
        <h5>Edad: </h5> <span>{{student.edad}}</span>
      </div>
      <div style="display: flex; align-items: center;">
        <h5>Correo: </h5> <span>{{student.correo}}</span>
      </div>
    </div>

  </div>
</body>

</html>